<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="signformdebug2">
        <wb-resource deploy-path="/" source-path="/webroot" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="signformdebug2"/>
        <property name="java-output-path" value="/signformdebug2/classes"/>
    </wb-module>
</project-modules>
