body {
    background: #dedfe3;
    padding-top: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

p {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
#min-width {
    width: expression(((document.documentElement.clientWidth || document.body.clientWidth) < 980)? "980px":"100%");
}

#container {
    margin: 0 auto;
    width: 927px;
    border: 1px solid #c1c2c9;
    background: #FFF;
}

#header {
    height: 110px;
}

#mainContent {
    overflow: hidden;
    width: 100%;
    background: #FFF;
}

#footer {
    width: 100%;
    color: #46535b;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    text-align: center;
    margin: 0 auto;
    border-top: 1px solid #dcdcdc;
    background: #dedfe3;
}

#alert {
    background-color: infobackground;
    border: 2px dashed gray;
    padding: 10px;
    margin: 10px;
}

#main-col {
    width: 611px;
    float: left;
    overflow: hidden;
    padding: 22px 16px 25px 16px;
}

#promo {
    height: 4px;
    padding-top: 5px;
    padding-bottom: 1px;
    position: relative;
    margin-left: 16px;
    margin-right: 17px;
    border-bottom: 4px solid #e4e5e8;
    top: 13px;
    left: 0px;
    clear: both;
}

#info_img {
    margin: 10px 20px 10px 16px;
    float: left;
    border: 0;
}

#item_border {
    border: 2px solid gray;
}

#info {
    border: 2px solid gray;
    padding: 10px;
    margin: 0px;
    height: 100px;
}

#info_msg {
    margin: 0px;
    color: #7a7c88;
    padding: 10px 10px 10px 0px;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

#error_msg {
    background-color: infobackground;
    border: 2px solid #c61212;
    margin: 10px;
    color: #c61212;
    padding: 10px;
    font-weight: normal;
}

#cert_info, #cert_info1, #cert_info2, #cert_info_decr {
    background-image: url(Img/cert.png);
    border: 5px double #5a9251;
    padding: 10px;
    margin: 10px 0px 0px 0px;
}

p.info_field {
    margin: 0px;
    color: #333;
    /*padding: 5px 5px 5px 5px;*/
    font-weight: normal;
    font-size: 10px;
}

#user_form {
    border: 0;
    padding: 10px;
    margin: 10px;
    height: 280px;
}

#box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#box-inner {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    background: black;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#boxdiv {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 100px;
    width: 300px;
    border: 2px outset #0d3d91;
    padding: 10px;
    background: gray;/*#5d5d31;*/
    color: white;
    font-weight: bolder;
}

.logo {
    margin: 10px 20px 0px 16px;
    float: left;
    border: 0;
}

h1 {
    color: #7a7c88;
    text-decoration: none;
    font-weight: normal;
    line-height: 40px;
    margin: 0;
    padding: 10px 0px 10px 0px;
}

h2 {
    font-size: 22px;
    color: #000;
    padding: 10px 0px 7px 0px;
    width: 100%;
    font-weight: normal;
    margin: 0px;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

    ul li {
        list-style-image: none;
        list-style: none;
        line-height: 25px;
        font-size: 13px;
        background: url(Img/a3.gif) no-repeat 0 10px;
        padding-left: 12px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }

a {
    color: #2b9ed1;
    font-weight: normal;
    text-decoration: underline;
    font-size: 13px;
}

object.hiddenObject {
    visibility: hidden;
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 0px;
    max-width: 0px;
    max-height: 0px;
}

.button {
    cursor: pointer;
    -moz-user-select: none;
    border: 1px solid #CCC;
    color: #333;
    background-color: #ccc;
    padding: 10px 16px;
    line-height: 1.33;
    border-radius: 6px;
    float: right;
    margin-top: 75px;
    margin-right: 30px;
    font-size: 18px;
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
}

    .button:hover, .button:focus {
        background-color: #e0e0e0;
        background-position: 0 -15px;
        color: #333;
        border-color: #adadad;
        text-decoration: none;
    }

    .button:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .button:active {
        background-color: #e0e0e0;
        border-color: #dbdbdb;
        background-image: none;
        -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }
.v-table-row{
	height: 20px;
}
.v-table-row-odd{
	height: 20px;
	background-color: rgb(230, 242, 255);
}
.v-panel{
	background-color: rgb(240, 240, 245);
	display: block;
	border: double;
	border-color: rgb(92, 92, 138);
}
.v-panel-captionwrap{
	display: block;
	font-size: 14px;
	font-weight: bold;
	background-color: rgb(208, 208, 225);
}
.v-table{
	background-color: rgb(240, 240, 245);
	display: block;
	border: thin;
	border-color: rgb(92, 92, 138);	
}
.v-button{
	background-color: red;
	display: block;
	border: solid;
	border-color: rgb(92, 92, 138);
	width: 100px;
	height: 20px;
	text-align: center;
	vertical-align: middle;	
}